@using FashionWebsite.Models;
@{
    ViewBag.Title = "Index";
}

<div class="main-content w-100 float-left">
    <div class="container">
        <div class="row">
            <div class="content-wrapper col-xl-12 col-lg-12 order-lg-2">
                <div class="block-category mb-30 w-100 float-left">
                    <div class="category-cover text-center">
                        <img src="~/Content/img/101-Content-RE-Risks---Rewards--Blog-Assetss_10.13.22_Header--v3.png" alt="category-banner" />
                    </div>
                    <div class="title-category text-capitalize">women</div>
                    <div class="category-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sagittis, magna et euismod auctor, mauris ipsum interdum risus, a varius augue lacus id diam. Mauris maximus, ipsum at gravida sodales, purus tellus tempor eros, a feugiat elit odio in nunc.</div>
                </div>
                <header class="product-grid-header d-flex d-xs-block d-sm-flex d-lg-flex w-100 float-left">
                    <div class="hidden-sm-down total-products d-flex d-xs-block d-lg-flex col-md-3 col-sm-3 col-xs-12 align-items-center">
                        <div class="row">
                            <div class="nav" role="tablist">
                                <a class="list" href="#list" data-toggle="tab" role="tab" aria-selected="false" aria-controls="list"><i class="material-icons align-middle">format_list_bulleted</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-results-wrapper d-flex d-sm-flex d-xs-block d-lg-flex justify-content-end col-md-9 col-sm-9 col-xs-12">
                        <div class="shop-results d-flex align-items-center">
                            <span>Show</span>
                            <div class="shop-select">
                                <select name="number" id="number">
                                    <option value="9">9</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="75">75</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                        <div class="shop-results d-flex align-items-center">
                            <span>Sort By</span>
                            <div class="shop-select">
                                <select name="sort" id="sort">
                                    <option value="position">Default sorting</option>
                                    <option value="p-name">Sort Popularity</option>
                                    <option value="p-price">Sort Price</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="tab-content text-center products w-100 float-left category-col-8">
                    <div class="tab-pane grid fade active" id="grid" role="tabpanel">
                        <div class="row">
                            @{
                                foreach (SanPham i in Commnon.getProductByLoaiSP(2))
                                {
                                    <div class="product-layouts col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                        <div class="product-thumb">
                                            <div class="image zoom">
                                                <a href='@Url.Action("Index", "Shop" , new { maSP = i.maSP})'>
                                                    <img src="@i.hinhDD " alt="01" />
                                                </a>
                                                
                                            </div>
                                            <div class="thumb-description">
                                                <div class="caption">
                                                    <h4 class="product-title text-capitalize"><a href="product-details.html">@i.tenSP</a></h4>
                                                </div>
                                                <div class="rating">
                                                    <div class="product-ratings d-inline-block align-middle">
                                                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                                        <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                                        <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                                                        <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                                                    </div>
                                                </div>

                                                <div class="price">
                                                    <div class="regular-price">@i.giaBan</div>
                                                    <div class="old-price">@i.giamGia</div>
                                                </div>
                                                <div class="button-wrapper">
                                                    <div class="button-group text-center">
                                                        @using (Html.BeginForm("AddToCart", "Home", FormMethod.Post))
                                                        {
                                                            <input name="maSP" type="hidden" value="@i.maSP" />
                                                            <button class="btn btn-primary btn-cart"><i class="material-icons">shopping_cart</i>Add To Cart</button>
                                                        }
                                                        <a href="wishlist.html" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                                                        <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button>
                                                        <button type="button" class="btn btn-primary btn-quickview" data-toggle="modal" data-target="#product_view"><i class="material-icons">visibility</i><span>Quick View</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }


                        </div>

                    </div>
                    <div class="tab-pane fade list text-left" id="list" role="tabpanel">
                        @{
                            foreach (SanPham j in Commnon.getProduct())
                            {
                                <div class="product-layouts col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="product-thumb row">
                                        <div class="image zoom col-xs-12 col-sm-5 col-md-4">
                                            <a href="product-details.html" class="d-block position-relative">
                                                <img src="@j.hinhDD" alt="01" />
                                            </a>
                                            <ul class="countdown countdown4 text-center">
                                                <li><span class="days">00</span><p class="days_text">Days</p></li>
                                                <li><span class="hours">00</span><p class="hours_text">Hours</p></li>
                                                <li><span class="minutes">00</span><p class="minutes_text">Minutes</p></li>
                                                <li><span class="seconds">00</span><p class="seconds_text">Seconds</p></li>
                                            </ul>
                                        </div>
                                        <div class="thumb-description col-xs-12 col-sm-7 col-md-8 position-static text-left">
                                            <div class="caption">
                                                <h4 class="product-title text-capitalize"><a href="product-details.html">@j.tenSP</a></h4>
                                            </div>
                                            <div class="rating mb-10">
                                                <div class="product-ratings d-inline-block align-middle">
                                                    <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                                    <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                                    <span class="fa fa-stack"><i class="material-icons">star</i></span>
                                                    <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                                                    <span class="fa fa-stack"><i class="material-icons off">star</i></span>
                                                </div>
                                            </div>

                                            <div class="description">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus arcu turpis, quis sagittis orci dictum non. Etiam id eleifend erat. Donec sit amet nisl id nisi laoreet viverra in ac nibh.
                                            </div>

                                            <div class="price">
                                                <div class="regular-price">$100.00</div>
                                                <div class="old-price">$150.00</div>
                                            </div>
                                            <div class="color-option d-flex align-items-center float-left w-100">
                                                <ul class="color-categories">
                                                    <li>
                                                        <a class="tt-pink" href="#" title="Pink"></a>
                                                    </li>
                                                    <li>
                                                        <a class="tt-blue" href="#" title="Blue"></a>
                                                    </li>
                                                    <li>
                                                        <a class="tt-yellow" href="#" title="Yellow"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="button-wrapper">
                                                <div class="button-group text-center">
                                                    <button type="button" class="btn btn-primary btn-cart active" data-target="#cart-pop" data-toggle="modal"><i class="material-icons">shopping_cart</i><span>Add To Cart</span></button>
                                                    <a href="wishlist.html" class="btn btn-primary btn-wishlist"><i class="material-icons">favorite</i><span>wishlist</span></a>
                                                    <button type="button" class="btn btn-primary btn-compare"><i class="material-icons">equalizer</i><span>Compare</span></button>
                                                    <button type="button" class="btn btn-primary btn-quickview" data-toggle="modal" data-target="#product_view"><i class="material-icons">visibility</i><span>Quick View</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }



                    </div>
                    
                </div>
                <div class="pagination-wrapper float-left w-100">
                    <p>Showing 1 to 9 of 11 (2 Pages)</p>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>
